@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&family=Permanent+Marker&display=swap');


body {
  background-color: $midnight;
  color: white;
  font-family: 'Baloo Chettan 2', sans-serif;
  h1 {
    color: $acid;
    font-family: 'Permanent Marker', cursive;
  }
  .container {
    padding: 0;
    margin: 0;
  }
  .button-container {
    margin: 0;
  }
  .button-acid {
    background-color: $acid;
    color:$purple;
  }
  .button-purple {
    background-color: $purple;
    color: $bubblegum;
  }
  .button-bubblegum {
    background-color: $bubblegum;
    color: $midnight;
  }
  .button-cyan {
    background-color: $cyan;
    color: $magenta;
  }
  .font-baloo {
    font-family: 'Baloo Chettan 2', sans-serif;
  }
  .font-bubblegum {
    color: $bubblegum;
  }
  .font-cyan {
    color: $cyan;
  }
  .font-marker {
    font-family: 'Permanent Marker', cursive;
  }
  .font-midnight {
    color: $midnight;
  }
  .label-custom {
    color: $acid;
  }
  .form-control:focus {
    background-color: $bubblegum;
    color: $midnight;
  }
  .form-control {
    background-color:$cyan;
    color: $midnight;
    text-align: center;
  }
  .low-pad {
    padding: 10px;
  }
  .pad-zero {
    padding: 0;
  }
  .mb10 {
    margin-bottom: 10px;
  }
  .mr10 {
    margin-right: 10px;
  }
  .row {
    margin: 0;
  }
}
