@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&family=Permanent+Marker&display=swap');


body {
  background-color: $midnight;
  color: white;
  font-family: 'Baloo Chettan 2', sans-serif;
  
  h1 {
    color: $acid;
    font-family: 'Permanent Marker', cursive;
  }
  .container {
    padding: 0;
    margin: 0;
  }
  .button-container {
    margin: 0;
  }
  .button-acid {
    background-color: $acid;
    color:$purple;
  }
  .button-purple {
    background-color: $purple;
    color: $bubblegum;
  }
  .button-bubblegum {
    background-color: $bubblegum;
    color: $midnight;
  }
  .button-cyan {
    background-color: $cyan;
    color: $magenta;
  }
  .font-baloo {
    font-family: 'Baloo Chettan 2', sans-serif;
  }
  .font-bubblegum {
    color: $bubblegum;
  }
  .font-cyan {
    color: $cyan;
  }
  .font-marker {
    font-family: 'Permanent Marker', cursive;
  }
  .font-midnight {
    color: $midnight;
  }
  .label-custom {
    color: $acid;
  }
  .form-control:focus {
    background-color: $bubblegum;
    color: $midnight;
  }
  .form-control {
    background-color:$cyan;
    border: solid 1px $bubblegum;
    color: $midnight;
    text-align: center;
  }
  .low-pad {
    padding: 10px;
  }
  .mb10 {
    margin-bottom: 10px;
  }
  .mr10 {
    margin-right: 10px;
  }
  .pad-zero {
    padding: 0;
  }
  .picker {
    text-align: center;
    background-color: $cyan;
    border: solid 1px $bubblegum;
    border-radius: .25rem;
  }
  .picker:focus {
    background-color: $bubblegum;
    border: solid 1px $bubblegum;
  }
  .react-confirm-alert-body {
    background-color: $purple;
    color: $ghost;
    font-family: 'Baloo Chettan 2', sans-serif;
    text-align: center;
    .react-confirm-alert-button-group {
      justify-content: space-evenly;
    }
    button {
      background-color: $cyan;
      color: $midnight;
    }
    .confirm-btn-yes {
      background-color: $acid;
      color: $midnight;
    }
    .confirm-btn-no {
      background-color: $magenta;
      color: $ghost;
    }
    h1 {
      color: $cyan;
    }
  }
  .react-confirm-alert-overlay {
    background-color: $midnight-fade;
  }
  .react-datepicker {
    font-family: 'Baloo Chettan 2', sans-serif;
    color: $midnight;
    .react-datepicker__header {
      background-color: $acid;
    }
    .react-datepicker__month-container {
      background-color: $bubblegum;
    }
    .react-datepicker__navigation--next {
      border-left-color: $purple;
    }
    .react-datepicker__navigation--previous {
      border-right-color: $purple;
    }
  }
  .row {
    margin: 0;
  }
}
