@import '../../../styles/variables';


.ThisNavbar {
  display: block;
  background-color: $purple;

  .custom-toggler .navbar-toggler-icon {
    color: $cyan;
    border-color: $bubblegum;
  }

  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
    color: $cyan;
  }

  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-text {
    color: $magenta;
  }

  .navbar-custom .navbar-nav .nav-link {
    color: $cyan;
  }

  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:focus .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
    color: $magenta;
  }
}
