@import '../../../styles/variables';

.TripCard {
  display: block;
  .custom-card {
    background-color: $pink;
    color: white;
  }
  .custom-card:hover {
    color: $purple;
    text-decoration: none;
  }
}
